body{
    color: #006665;
} 
.textcolor{
    color: #0eb493; 
}
.mainbody{
    background-color: #f4f7f9;
    padding:65px 0; 
}
.about{
    background: url(../images/introduce.jpg) center 50px  no-repeat #f4f7f9;
    padding-top: 130px;
}
h3,h4{
    color: #006665;
}
p{
    line-height: 2em;
}
.header{
    background: url(../images/head_bg.png);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}    
li{
    list-style-type: none;
}
.nav{
    height: 70px;
    line-height: 70px;
}
.nav li{
    float: left;
}
.active > a {
    border-top: 1px solid #FFFFFF;
}
.header .nav li a{
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
}
.showcase img{
    width: 100%;
}
.indexabout .box img{
   width: 33.33%;
   margin-right: 12px;
}
.indexabout{
    background: url(../images/index_about.jpg) center 50px no-repeat #f4f7f9;
    padding-top: 196px;
    padding-bottom: 140px;
}
.lvxing2 img{
    float: left;
    padding: 12px;
}
.icon {
    float: left;
    padding-top: 12px;
    width: 48px;
}
.box {
    float: right;
    width: 82%;
}
.indexworks{
    background: url(../images/index_works.jpg) center 50px no-repeat #fff;
    padding-top: 196px;
    padding-bottom: 140px;
    text-align: center;
}
.indexcontact{
    background: url(../images/index_contact.jpg) center 50px no-repeat #fff;
    padding-top: 196px;
    text-align: center;
}
.indexworks h4{
    margin-bottom: 30px;
}
.btn-success {
    background-color: #0EB493;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.iw{
    margin-top: 100px;
}
.indexcontact{
    text-align: left;
    color: #5b646e ;
}
.indexcontact form{
    margin-bottom: 20px;
}
.indexcontact .mail{
    background: url(../images/mail.jpg) no-repeat left center;
    padding-left: 30px;
    margin-top: 20px;
}

.contactform{
    width: 85%;
}
.map img{
    width: 100%;
}
.contactform h3{
    margin-bottom: 30px;
}
.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-image: none;
    border-bottom: 1px solid #CCCCCC !important;
    border-image: none;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
}
.footer{
    background-color: #1ea78d;
    color: #fff;
    font-weight: lighter;
    border-top: 5px solid #062033;
    padding: 20px 0;
    text-align: center;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer li{
    margin-bottom: 12px;
    padding: 0;
}
.footer a{
    color: #fff;
}
.footer h5{
    font-size: 22px;
}
blockquote {
    margin-top: 50px;
    border-left: 1px solid #666;
}
blockquote p{
    background: url(../images/love.jpg) right top no-repeat;
    width: 60%;
}
blockquote small, blockquote .small {
    color: #fff;
    display: block;
    line-height: 1.42857;
}
.tx ul{
    margin: 30px 0;
    padding: 0;
}
.tx ul li{
    font-size: 18px;
    list-style-type: disc;
    color: #999;
}
.tx ul li a{
    color: #1ea78d;
    font-weight: lighter;
    font-style: italic;
}
.news,.works{
    text-align: center;
    background: url(../images/news.jpg) top center no-repeat;
    padding-top: 150px;
    margin-top: 50px;
}
.works{
    background: url(../images/works.jpg) top center no-repeat;
    padding-top: 200px;
    margin-bottom: 150px;
}
.works ul{
    text-align: left;
}
.works ul li{
    list-style-type: disc;
}
.works ul li a{
    font-size: 22px;
    line-height: 2em;
}
.lvxing img{
    height: 234px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
                                                                              